include README.rst
include LICENSE

include mozjpeg_lossless_optimization/mozjpeg_opti.h
include mozjpeg_lossless_optimization/mozjpeg_opti.c

include mozjpeg/CODE_OF_CONDUCT.md
include mozjpeg/README-mozilla.txt
include mozjpeg/appveyor.yml
include mozjpeg/change.log
include mozjpeg/coderules.txt
include mozjpeg/croptest.in
include mozjpeg/jaricom.c
include mozjpeg/jcext.c
include mozjpeg/jcicc.c
include mozjpeg/jcstest.c
include mozjpeg/jdmaster.h
include mozjpeg/jfdctflt.c
include mozjpeg/jpegyuv.c
include mozjpeg/jsimddct.h
include mozjpeg/libjpeg.map.in
include mozjpeg/mozjpeg.podspec
include mozjpeg/rd_average.sh
include mozjpeg/rd_collect.sh
include mozjpeg/rd_collect_sub.sh
include mozjpeg/rd_plot.sh
include mozjpeg/rdjpeg.c
include mozjpeg/rdpng.c
include mozjpeg/tjutil.c
include mozjpeg/yuvjpeg.c
include mozjpeg/cmakescripts/cmake_uninstall.cmake.in
include mozjpeg/cmakescripts/BuildPackages.cmake
include mozjpeg/cmakescripts/GNUInstallDirs.cmake
include mozjpeg/cmakescripts/PackageInfo.cmake
include mozjpeg/cmakescripts/testclean.cmake
include mozjpeg/cmakescripts/tjbenchtest.cmake
include mozjpeg/fuzz/CMakeLists.txt
include mozjpeg/fuzz/build.sh
include mozjpeg/fuzz/cjpeg.cc
include mozjpeg/fuzz/compress.cc
include mozjpeg/fuzz/compress12.cc
include mozjpeg/fuzz/compress12_lossless.cc
include mozjpeg/fuzz/compress16_lossless.cc
include mozjpeg/fuzz/compress_lossless.cc
include mozjpeg/fuzz/compress_yuv.cc
include mozjpeg/fuzz/decompress.cc
include mozjpeg/fuzz/decompress_yuv.cc
include mozjpeg/fuzz/transform.cc
include mozjpeg/md5/CMakeLists.txt
include mozjpeg/md5/md5.c
include mozjpeg/md5/md5.h
include mozjpeg/md5/md5cmp.c
include mozjpeg/md5/md5hl.c
include mozjpeg/release/Config.cmake.in
include mozjpeg/release/Distribution.xml.in
include mozjpeg/release/License.rtf
include mozjpeg/release/deb-control.in
include mozjpeg/release/libjpeg.pc.in
include mozjpeg/release/libturbojpeg.pc.in
include mozjpeg/release/makerpm.in
include mozjpeg/release/makesrpm.in
include mozjpeg/release/maketarball.in
include mozjpeg/release/uninstall.in
include mozjpeg/release/ReadMe.txt
include mozjpeg/release/Welcome.rtf.in
include mozjpeg/release/installer.nsi.in
include mozjpeg/release/makedpkg.in
include mozjpeg/release/makemacpkg.in
include mozjpeg/release/rpm.spec.in
include mozjpeg/sharedlib/CMakeLists.txt
include mozjpeg/simd/arm/align.h
include mozjpeg/simd/arm/jccolor-neon.c
include mozjpeg/simd/arm/jcgryext-neon.c
include mozjpeg/simd/arm/jfdctint-neon.c
include mozjpeg/simd/arm/jidctred-neon.c
include mozjpeg/simd/arm/aarch32/jccolext-neon.c
include mozjpeg/simd/arm/aarch32/jchuff-neon.c
include mozjpeg/simd/arm/aarch32/jsimd_neon.S
include mozjpeg/simd/arm/aarch32/jsimd.c
include mozjpeg/simd/arm/aarch64/jccolext-neon.c
include mozjpeg/simd/arm/aarch64/jchuff-neon.c
include mozjpeg/simd/arm/aarch64/jsimd_neon.S
include mozjpeg/simd/arm/aarch64/jsimd.c
include mozjpeg/simd/arm/jchuff.h
include mozjpeg/simd/arm/jdcolext-neon.c
include mozjpeg/simd/arm/jdmrgext-neon.c
include mozjpeg/simd/arm/jcgray-neon.c
include mozjpeg/simd/arm/jcphuff-neon.c
include mozjpeg/simd/arm/jcsample-neon.c
include mozjpeg/simd/arm/jdcolor-neon.c
include mozjpeg/simd/arm/jdmerge-neon.c
include mozjpeg/simd/arm/jdsample-neon.c
include mozjpeg/simd/arm/jfdctfst-neon.c
include mozjpeg/simd/arm/jidctfst-neon.c
include mozjpeg/simd/arm/jidctint-neon.c
include mozjpeg/simd/arm/jquanti-neon.c
include mozjpeg/simd/arm/neon-compat.h.in
include mozjpeg/simd/i386/jccolext-avx2.asm
include mozjpeg/simd/i386/jccolext-mmx.asm
include mozjpeg/simd/i386/jccolext-sse2.asm
include mozjpeg/simd/i386/jccolor-avx2.asm
include mozjpeg/simd/i386/jccolor-mmx.asm
include mozjpeg/simd/i386/jccolor-sse2.asm
include mozjpeg/simd/i386/jcgray-avx2.asm
include mozjpeg/simd/i386/jcgray-mmx.asm
include mozjpeg/simd/i386/jcgray-sse2.asm
include mozjpeg/simd/i386/jcgryext-avx2.asm
include mozjpeg/simd/i386/jcgryext-mmx.asm
include mozjpeg/simd/i386/jcgryext-sse2.asm
include mozjpeg/simd/i386/jchuff-sse2.asm
include mozjpeg/simd/i386/jcphuff-sse2.asm
include mozjpeg/simd/i386/jcsample-avx2.asm
include mozjpeg/simd/i386/jcsample-mmx.asm
include mozjpeg/simd/i386/jcsample-sse2.asm
include mozjpeg/simd/i386/jdcolext-avx2.asm
include mozjpeg/simd/i386/jdcolext-mmx.asm
include mozjpeg/simd/i386/jdcolext-sse2.asm
include mozjpeg/simd/i386/jdcolor-avx2.asm
include mozjpeg/simd/i386/jdcolor-mmx.asm
include mozjpeg/simd/i386/jdcolor-sse2.asm
include mozjpeg/simd/i386/jdmerge-avx2.asm
include mozjpeg/simd/i386/jdmerge-mmx.asm
include mozjpeg/simd/i386/jdmerge-sse2.asm
include mozjpeg/simd/i386/jdmrgext-avx2.asm
include mozjpeg/simd/i386/jdmrgext-mmx.asm
include mozjpeg/simd/i386/jdmrgext-sse2.asm
include mozjpeg/simd/i386/jdsample-avx2.asm
include mozjpeg/simd/i386/jdsample-mmx.asm
include mozjpeg/simd/i386/jdsample-sse2.asm
include mozjpeg/simd/i386/jfdctflt-3dn.asm
include mozjpeg/simd/i386/jfdctflt-sse.asm
include mozjpeg/simd/i386/jfdctfst-mmx.asm
include mozjpeg/simd/i386/jfdctfst-sse2.asm
include mozjpeg/simd/i386/jfdctint-avx2.asm
include mozjpeg/simd/i386/jfdctint-mmx.asm
include mozjpeg/simd/i386/jfdctint-sse2.asm
include mozjpeg/simd/i386/jidctflt-3dn.asm
include mozjpeg/simd/i386/jidctflt-sse.asm
include mozjpeg/simd/i386/jidctflt-sse2.asm
include mozjpeg/simd/i386/jidctfst-mmx.asm
include mozjpeg/simd/i386/jidctfst-sse2.asm
include mozjpeg/simd/i386/jidctint-avx2.asm
include mozjpeg/simd/i386/jidctint-mmx.asm
include mozjpeg/simd/i386/jidctint-sse2.asm
include mozjpeg/simd/i386/jidctred-mmx.asm
include mozjpeg/simd/i386/jidctred-sse2.asm
include mozjpeg/simd/i386/jquant-3dn.asm
include mozjpeg/simd/i386/jquant-mmx.asm
include mozjpeg/simd/i386/jquant-sse.asm
include mozjpeg/simd/i386/jquantf-sse2.asm
include mozjpeg/simd/i386/jquanti-avx2.asm
include mozjpeg/simd/i386/jquanti-sse2.asm
include mozjpeg/simd/i386/jsimd.c
include mozjpeg/simd/i386/jsimdcpu.asm
include mozjpeg/simd/mips/jsimd_dspr2.S
include mozjpeg/simd/mips/jsimd_dspr2_asm.h
include mozjpeg/simd/mips/jsimd.c
include mozjpeg/simd/mips64/jccolext-mmi.c
include mozjpeg/simd/mips64/jccolor-mmi.c
include mozjpeg/simd/mips64/jcgray-mmi.c
include mozjpeg/simd/mips64/jcgryext-mmi.c
include mozjpeg/simd/mips64/jcsample-mmi.c
include mozjpeg/simd/mips64/jcsample.h
include mozjpeg/simd/mips64/jdcolext-mmi.c
include mozjpeg/simd/mips64/jdcolor-mmi.c
include mozjpeg/simd/mips64/jdmerge-mmi.c
include mozjpeg/simd/mips64/jdmrgext-mmi.c
include mozjpeg/simd/mips64/jdsample-mmi.c
include mozjpeg/simd/mips64/jfdctfst-mmi.c
include mozjpeg/simd/mips64/jfdctint-mmi.c
include mozjpeg/simd/mips64/jidctfst-mmi.c
include mozjpeg/simd/mips64/jidctint-mmi.c
include mozjpeg/simd/mips64/jquanti-mmi.c
include mozjpeg/simd/mips64/jsimd_mmi.h
include mozjpeg/simd/mips64/loongson-mmintrin.h
include mozjpeg/simd/mips64/jsimd.c
include mozjpeg/simd/nasm/jcolsamp.inc
include mozjpeg/simd/nasm/jdct.inc
include mozjpeg/simd/nasm/jsimdcfg.inc
include mozjpeg/simd/nasm/jsimdcfg.inc.h
include mozjpeg/simd/nasm/jsimdext.inc
include mozjpeg/simd/powerpc/jccolor-altivec.c
include mozjpeg/simd/powerpc/jcgray-altivec.c
include mozjpeg/simd/powerpc/jcsample.h
include mozjpeg/simd/powerpc/jdcolor-altivec.c
include mozjpeg/simd/powerpc/jdmerge-altivec.c
include mozjpeg/simd/powerpc/jfdctfst-altivec.c
include mozjpeg/simd/powerpc/jfdctint-altivec.c
include mozjpeg/simd/powerpc/jccolext-altivec.c
include mozjpeg/simd/powerpc/jcgryext-altivec.c
include mozjpeg/simd/powerpc/jcsample-altivec.c
include mozjpeg/simd/powerpc/jdcolext-altivec.c
include mozjpeg/simd/powerpc/jdmrgext-altivec.c
include mozjpeg/simd/powerpc/jdsample-altivec.c
include mozjpeg/simd/powerpc/jidctfst-altivec.c
include mozjpeg/simd/powerpc/jidctint-altivec.c
include mozjpeg/simd/powerpc/jquanti-altivec.c
include mozjpeg/simd/powerpc/jsimd.c
include mozjpeg/simd/powerpc/jsimd_altivec.h
include mozjpeg/simd/x86_64/jccolext-avx2.asm
include mozjpeg/simd/x86_64/jccolext-sse2.asm
include mozjpeg/simd/x86_64/jccolor-avx2.asm
include mozjpeg/simd/x86_64/jccolor-sse2.asm
include mozjpeg/simd/x86_64/jcgray-avx2.asm
include mozjpeg/simd/x86_64/jcgray-sse2.asm
include mozjpeg/simd/x86_64/jcgryext-avx2.asm
include mozjpeg/simd/x86_64/jcgryext-sse2.asm
include mozjpeg/simd/x86_64/jchuff-sse2.asm
include mozjpeg/simd/x86_64/jcphuff-sse2.asm
include mozjpeg/simd/x86_64/jcsample-avx2.asm
include mozjpeg/simd/x86_64/jcsample-sse2.asm
include mozjpeg/simd/x86_64/jdcolext-avx2.asm
include mozjpeg/simd/x86_64/jdcolext-sse2.asm
include mozjpeg/simd/x86_64/jdcolor-avx2.asm
include mozjpeg/simd/x86_64/jdcolor-sse2.asm
include mozjpeg/simd/x86_64/jdmerge-avx2.asm
include mozjpeg/simd/x86_64/jdmerge-sse2.asm
include mozjpeg/simd/x86_64/jdmrgext-avx2.asm
include mozjpeg/simd/x86_64/jdmrgext-sse2.asm
include mozjpeg/simd/x86_64/jdsample-avx2.asm
include mozjpeg/simd/x86_64/jdsample-sse2.asm
include mozjpeg/simd/x86_64/jfdctflt-sse.asm
include mozjpeg/simd/x86_64/jfdctfst-sse2.asm
include mozjpeg/simd/x86_64/jfdctint-avx2.asm
include mozjpeg/simd/x86_64/jfdctint-sse2.asm
include mozjpeg/simd/x86_64/jidctflt-sse2.asm
include mozjpeg/simd/x86_64/jidctfst-sse2.asm
include mozjpeg/simd/x86_64/jidctint-avx2.asm
include mozjpeg/simd/x86_64/jidctint-sse2.asm
include mozjpeg/simd/x86_64/jidctred-sse2.asm
include mozjpeg/simd/x86_64/jquantf-sse2.asm
include mozjpeg/simd/x86_64/jquanti-avx2.asm
include mozjpeg/simd/x86_64/jquanti-sse2.asm
include mozjpeg/simd/x86_64/jsimd.c
include mozjpeg/simd/x86_64/jsimdcpu.asm
include mozjpeg/simd/CMakeLists.txt
include mozjpeg/simd/jsimd.h
include mozjpeg/win/projectTargets.cmake.in
include mozjpeg/win/gcc/projectTargets-release.cmake.in
include mozjpeg/win/vc/projectTargets-release.cmake.in
include mozjpeg/win/jpeg.rc.in
include mozjpeg/win/jpeg62.def
include mozjpeg/win/jpeg7.def
include mozjpeg/win/jpeg8.def
include mozjpeg/win/turbojpeg.rc.in
include mozjpeg/README.md
include mozjpeg/cdjpeg.c
include mozjpeg/jconfig.txt
include mozjpeg/jdarith.c
include mozjpeg/jdicc.c
include mozjpeg/rdjpgcom.c
include mozjpeg/tjutil.h
include mozjpeg/transupp.h
include mozjpeg/wrjpgcom.c
include mozjpeg/BUILDING.md
include mozjpeg/CMakeLists.txt
include mozjpeg/ChangeLog.md
include mozjpeg/LICENSE.md
include mozjpeg/README-turbo.txt
include mozjpeg/README.ijg
include mozjpeg/cderror.h
include mozjpeg/cdjpeg.h
include mozjpeg/cjpeg.c
include mozjpeg/cmyk.h
include mozjpeg/djpeg.c
include mozjpeg/doxygen.config
include mozjpeg/example.c
include mozjpeg/jcapimin.c
include mozjpeg/jcapistd.c
include mozjpeg/jcarith.c
include mozjpeg/jccoefct.c
include mozjpeg/jccolext.c
include mozjpeg/jccolor.c
include mozjpeg/jcdctmgr.c
include mozjpeg/jcdiffct.c
include mozjpeg/jchuff.c
include mozjpeg/jchuff.h
include mozjpeg/jcinit.c
include mozjpeg/jclhuff.c
include mozjpeg/jclossls.c
include mozjpeg/jcmainct.c
include mozjpeg/jcmarker.c
include mozjpeg/jcmaster.c
include mozjpeg/jcmaster.h
include mozjpeg/jcomapi.c
include mozjpeg/jconfig.h.in
include mozjpeg/jconfigint.h.in
include mozjpeg/jcparam.c
include mozjpeg/jcphuff.c
include mozjpeg/jcprepct.c
include mozjpeg/jcsample.c
include mozjpeg/jctrans.c
include mozjpeg/jdapimin.c
include mozjpeg/jdapistd.c
include mozjpeg/jdatadst-tj.c
include mozjpeg/jdatadst.c
include mozjpeg/jdatasrc-tj.c
include mozjpeg/jdatasrc.c
include mozjpeg/jdcoefct.c
include mozjpeg/jdcoefct.h
include mozjpeg/jdcol565.c
include mozjpeg/jdcolext.c
include mozjpeg/jdcolor.c
include mozjpeg/jdct.h
include mozjpeg/jddctmgr.c
include mozjpeg/jddiffct.c
include mozjpeg/jdhuff.c
include mozjpeg/jdhuff.h
include mozjpeg/jdinput.c
include mozjpeg/jdlhuff.c
include mozjpeg/jdlossls.c
include mozjpeg/jdmainct.c
include mozjpeg/jdmainct.h
include mozjpeg/jdmarker.c
include mozjpeg/jdmaster.c
include mozjpeg/jdmerge.c
include mozjpeg/jdmerge.h
include mozjpeg/jdmrg565.c
include mozjpeg/jdmrgext.c
include mozjpeg/jdphuff.c
include mozjpeg/jdpostct.c
include mozjpeg/jdsample.c
include mozjpeg/jdsample.h
include mozjpeg/jdtrans.c
include mozjpeg/jerror.c
include mozjpeg/jerror.h
include mozjpeg/jfdctfst.c
include mozjpeg/jfdctint.c
include mozjpeg/jidctflt.c
include mozjpeg/jidctfst.c
include mozjpeg/jidctint.c
include mozjpeg/jidctred.c
include mozjpeg/jinclude.h
include mozjpeg/jlossls.h
include mozjpeg/jmemmgr.c
include mozjpeg/jmemnobs.c
include mozjpeg/jmemsys.h
include mozjpeg/jmorecfg.h
include mozjpeg/jpeg_nbits.c
include mozjpeg/jpeg_nbits.h
include mozjpeg/jpegapicomp.h
include mozjpeg/jpegint.h
include mozjpeg/jpeglib.h
include mozjpeg/jpegtran.c
include mozjpeg/jquant1.c
include mozjpeg/jquant2.c
include mozjpeg/jsamplecomp.h
include mozjpeg/jsimd.h
include mozjpeg/jstdhuff.c
include mozjpeg/jutils.c
include mozjpeg/jversion.h.in
include mozjpeg/libjpeg.txt
include mozjpeg/rdbmp.c
include mozjpeg/rdcolmap.c
include mozjpeg/rdgif.c
include mozjpeg/rdppm.c
include mozjpeg/rdswitch.c
include mozjpeg/rdtarga.c
include mozjpeg/strtest.c
include mozjpeg/structure.txt
include mozjpeg/tjbench.c
include mozjpeg/tjbenchtest.in
include mozjpeg/tjexample.c
include mozjpeg/tjexampletest.in
include mozjpeg/tjunittest.c
include mozjpeg/transupp.c
include mozjpeg/turbojpeg-jni.c
include mozjpeg/turbojpeg-mapfile
include mozjpeg/turbojpeg-mapfile.jni
include mozjpeg/turbojpeg-mp.c
include mozjpeg/turbojpeg.c
include mozjpeg/turbojpeg.h
include mozjpeg/usage.txt
include mozjpeg/wizard.txt
include mozjpeg/wrbmp.c
include mozjpeg/wrgif.c
include mozjpeg/wrppm.c
include mozjpeg/wrtarga.c
