name: "Build and Publish Python Packages"

on:
  push:
    tags:
      - "v[0-9]+\\.[0-9]+\\.[0-9]+"
      - "v[0-9]+\\.[0-9]+\\.[0-9]+-[0-9]+"

jobs:

  build_sdist:

    name: "Source distribution"
    runs-on: ubuntu-latest

    steps:

      - name: "Checkout the repository"
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: "Install python dependencies"
        run: |
          pip install setuptools cffi

      - name: "Build source distribution"
        run: |
          python setup.py sdist

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v6
        with:
          name: sdist
          path: dist/
          retention-days: 1

  build_wheels:

    name: "Build ${{ matrix.target.name }} wheels"
    runs-on: ${{ matrix.target.os }}

    strategy:
      fail-fast: false
      matrix:
        target:
          - name: "Linux Intel 32bits"
            os: ubuntu-24.04
            arch: i686
            cibw_skip: cp314-* cp314t-*  # CFFI has no more i686 support for Python >= 3.14
          - name: "Linux Intel 64bits"
            os: ubuntu-24.04
            arch: x86_64
          - name: "Linux ARM 64bits"
            os: ubuntu-24.04
            arch: aarch64
          - name: "Linux ARMv7"
            os: ubuntu-24.04
            arch: armv7l
          - name: "macOS Intel 64bits"
            os: macos-13
            arch: x86_64
          - name: "macOS Apple Silicon (ARM 64bits)"
            os: macos-14
            arch: arm64
          - name: "Windows Intel 64bit"
            os: windows-2022
            arch: AMD64

    steps:

      - name: "Checkout the repository"
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: "Set up QEMU"
        if: runner.os == 'Linux' && (matrix.target.arch == 'aarch64' || matrix.target.arch == 'armv7l')
        uses: docker/setup-qemu-action@v3

      - name: "Build wheels"
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_ARCHS: ${{ matrix.target.arch }}
          CMAKE_OSX_ARCHITECTURES: ${{ matrix.target.arch }}
          CIBW_SKIP: ${{ matrix.target.cibw_skip }}
          PIP_USE_PEP517: 1

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.target.os }}-${{ matrix.target.arch }}
          path: ./wheelhouse/*.whl
          retention-days: 1

  publish_pypi:

    name: "Publish packages on PyPI"
    runs-on: ubuntu-latest
    needs:
      - build_sdist
      - build_wheels

    steps:

      - name: "Download artifacts"
        uses: actions/download-artifact@v7

      - name: "Move packages to the dist/ folder"
        run: |
          mkdir dist/
          mv sdist/* dist/
          mv wheels-*/*.whl dist/

      - name: "List packages"
        run: |
          find . -name "*.whl" -o -name "*.tar.gz"

      - name: "Publish packages on PyPI"
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
